* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.main {
  background-color: black;
  margin-top: 5vh;
  border: 1px black solid;
  // border-radius: 5px;
  border-radius: 20px;
  font-family: "Exo", sans-serif;
  position: relative;
  z-index: 2;
}

h2 {
  color: white;
}

.separator {
  background-color: blueviolet;
  padding: 2px;
}

.formacion {
  display: inline;
  h4 {
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: white;
}

.certificado {
  width: 90%;
  max-width: 250px;
  --background: #4e54c8;
}

.btn {
  --background: #4e54c8;
  width: 90%;
  max-width: 250px;
}
