<div class="main">
  <h2 class="ion-text-center">Proyectos y experiencia</h2>

  <ion-list>
    <ion-item>
      <div class="proyecto pav">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/pav.png"></ion-img>
          </ion-thumbnail>
          <h4 #title><b>Desarrollador frontend Angular e Ionic</b></h4>
        </div>

        <p><b>PAV Online</b> Mayo 2023 - Actualidad</p>
        <ul>
          <li>
            Encargado de actualización de un panel de administración de pedidos para restaurantes.
          </li>
          <li>
            Creación y uso de librería con componentes, servicios, guards,
            interceptors compartidos.
          </li>
          <li>
           Uso de http interceptors, error global handling (ErrorHandler),
            y verificación de peticiones HTTP con Authentication JWT. Librería multi idioma ngx-translate (i18n). LTR y RTL.
          </li>
          <li>Implementación de Unit Testing con Jasmine y Karema.</li>
          <li>
            Peticiones REST a nuestra API. Conexión con Firebase, Google/Here Maps, añadir Captchav3.
          </li>
          <li>Desarrollo de plugins nativos con <b>Capacitor en Swift y Java</b></li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/plazze.PNG"></ion-img>
          </ion-thumbnail>

          <h4 #title><b>Desarrollador frontend Angular e Ionic</b></h4>
        </div>
        <p><b>Freelance</b>Agosto 2022 - Septiembre 2023</p>
        <ul>
          <li>Proyecto: APP de comparador de supermercados</li>
          <li>
            El funcionamiento de la APP es poder hacer compras al menor precio
            posible, navegando entre todos los productos y sus precios más bajos
            en distintos supermercados (Mercadona, Consum, Carrefour / por
            ahora)
          </li>
          <li>
            Desarrollado con Angular 14 e Ionic 5 + Capacitor
          </li>
          <li>
            Utilización de Firebase para la gestión de
            categorías de productos y toda la info y acceso de
            usuarios. En la parte de información de productos Excel + Google Sheets con consultas a las API
          </li>
          <li>
            Utilización de programación reactiva RxJS, Angular Guards,
            animaciones con Renderer2 y con CSS queries @keyframes, diseño
            responsive..
          </li>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1HgBxMgy0KUIHQ33X9Lybf43Hg256_quX?usp=sharing"
              target="_blank"
              >Aquí puedes encontrar unas capturas del proyecto en Drive.</a
            >
          </li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img
              src="https://femesport.es/wp-content/uploads/2018/10/001.png"
            ></ion-img>
          </ion-thumbnail>

          <h4>
            <b>Desarrollador frontend Angular e Ionic (Prácticas)</b>
          </h4>
        </div>
        <p>Junio 2020 - Agosto 2020</p>
        <ul>
          <li>
            Desarrollo de APP para gimnasio desde cero para la gestión de
            clientes, bonos y horarios de clases dirigidas/compartidas.
          </li>
          <li>
            Chat dentro de la app, para comunicación entre monitores y clientes
          </li>
          <li>
            Angular Guards para permisos de carga, vista de ADMIN y ROOT para
            añadir clases, modificar bonos, etc.
          </li>
          <li>Diseño responsive con CSS y Ionic</li>
          <li>
            La gestión de datos, almacenamiento de archivos y autentificación de
            usuarios guardado en la nube con la base de datos Firebase.
          </li>
        </ul>
      </div>
    </ion-item>
  </ion-list>
</div>
