<div class="main">
  <h2 class="ion-text-center">Proyectos y experiencia</h2>

  <ion-list>
    <ion-item>
      <div class="proyecto pav">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/pav.png"></ion-img>
          </ion-thumbnail>
          <h4 #title><b>Desarrollador frontend</b></h4>
        </div>

        <p><b>PAV Online</b> Mayo 2023 - Actualidad</p>
        <p style="font-weight: bold;">
          Funciones principales:
        </p>

        <ul>
          <li>Migración de proyectos a nuevas versiones</li>
          <li>Desarrollo de nuevas páginas web/app</li>
        </ul>

        <p style="text-decoration: underline;">Stack tecnológico</p>
        <ul>
          <li>Angular 16 e Ionic 7. Tests con Jasmine y Karma.</li>
          <li>React 18, Next.js 14 // RSCs, SSR, Redux. Tests con Jest.</li>
          <li>Java y Swift para crear plugin nativo con Capacitor</li>
          <li>API Rest, Websockets, RxJS</li>
        </ul>

        <p style="text-decoration: underline;">Stack adicional</p>
        <ul>
          <li>Utilización de Docker.</li>
          <li>Control de versiones Git, CI Github Actions.</li>
          <li>Captcha v3, Firebase, Google Maps, Here Maps</li>
          <li>Multi idioma. internationalization (i18n)</li>
          <li>Storybooks, Figma</li>
          <li>Http interceptors, JWT Authentication</li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/plazze.PNG"></ion-img>
          </ion-thumbnail>

          <h4 #title><b>Desarrollador frontend Angular e Ionic</b></h4>
        </div>
        <p><b>Freelance</b>Agosto 2022 - Septiembre 2023</p>
        <ul>
          <li>Proyecto: APP de comparador de supermercados</li>
          <li>
            El funcionamiento de la APP es poder hacer compras al menor precio
            posible, navegando entre todos los productos y sus precios más bajos
            en distintos supermercados (Mercadona, Consum, Carrefour / por
            ahora)
          </li>
          <li>Desarrollado con Angular 14 e Ionic 5 + Capacitor</li>
          <li>
            Utilización de Firebase para la gestión de categorías de productos y
            toda la info y acceso de usuarios. En la parte de información de
            productos Excel + Google Sheets con consultas a las API
          </li>
          <li>
            Utilización de programación reactiva RxJS, Angular Guards,
            animaciones con Renderer2 y con CSS queries @keyframes, diseño
            responsive..
          </li>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1HgBxMgy0KUIHQ33X9Lybf43Hg256_quX?usp=sharing"
              target="_blank"
              >Aquí puedes encontrar unas capturas del proyecto en Drive.</a
            >
          </li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img
              src="https://femesport.es/wp-content/uploads/2018/10/001.png"
            ></ion-img>
          </ion-thumbnail>

          <h4>
            <b>Desarrollador frontend Angular e Ionic (Prácticas)</b>
          </h4>
        </div>
        <p>Junio 2020 - Agosto 2020</p>
        <ul>
          <li>
            Desarrollo de APP para gimnasio desde cero para la gestión de
            clientes, bonos y horarios de clases dirigidas/compartidas.
          </li>
          <li>
            Chat dentro de la app, para comunicación entre monitores y clientes
          </li>
          <li>
            Angular Guards para permisos de carga, vista de ADMIN y ROOT para
            añadir clases, modificar bonos, etc.
          </li>
          <li>Diseño responsive con CSS y Ionic</li>
          <li>
            La gestión de datos, almacenamiento de archivos y autentificación de
            usuarios guardado en la nube con la base de datos Firebase.
          </li>
        </ul>
      </div>
    </ion-item>
  </ion-list>
</div>
