<div class="main">
  <h2 class="ion-text-center">Proyectos y experiencia</h2>

  <ion-list>
    <ion-item>
      <div class="proyecto pav">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/pav.png"></ion-img>
          </ion-thumbnail>
          <h4 #title><b>Desarrollador frontend Angular e Ionic</b></h4>
        </div>

        <p><b>PAV Online</b> Mayo 2023 - Actualidad</p>
        <ul>
          <li>
            Mejorar y actualizar versiones a Ionic cli v7 y Angular cli v16 de
            webapp en php y angularjs mediante proyecto Angular monorepo con
            parametración para personalizar mismo código para varios
            clientes/configuraciones
          </li>
          <li>
            Creación y uso de librería con componentes, servicios, guards,
            interceptors.
          </li>
          <li>
            Utilización de Input y Output decorators para componentes
            compartidos.
          </li>
          <li>
            Creación de http interceptors, error global handling (ErrorHandler),
            y verificación de peticiones HTTP con Authentication JWT.
          </li>
          <li>Implementación de Unit Testing en servicios y componentes.</li>
          <li>
            Librería multi idioma ngx-translate (i18n). LTR y RTL
            configuraciones.
          </li>
          <li>Desarrollo de plugins nativos con Capacitor en Swift y Java</li>
          <li>
            Uso de preprocesadores SASS con variables globales para rápida
            configuración de theme de la app.
          </li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img src="../../assets/plazze.PNG"></ion-img>
          </ion-thumbnail>

          <h4 #title><b>Desarrollador APP Plazze (Proyecto personal)</b></h4>
        </div>
        <p>Agosto 2022 - Actualidad</p>
        <ul>
          <li>APP de comparador de supermercados. (+400h de desarrollo)</li>
          <li>
            El funcionamiento de la APP es poder hacer compras al menor precio
            posible, navegando entre todos los productos y sus precios más bajos
            en distintos supermercados (Mercadona, Consum, Carrefour / por
            ahora)
          </li>
          <li>
            Con las tecnologías <b>Angular y Ionic + Capacitor</b>
          </li>
          <li>
            Utilización de <b>Firebase</b> para la gestión de
            categorías de productos y toda la info y acceso de
            usuarios. En la parte de información de productos
            <b>Excel + Google Sheets</b> con consultas a las API
          </li>
          <li>
            Utilización de programación reactiva RxJS, Angular Guards,
            animaciones con Renderer2 y con CSS queries @keyframes, diseño
            responsive..
          </li>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1HgBxMgy0KUIHQ33X9Lybf43Hg256_quX?usp=sharing"
              target="_blank"
              >Aquí puedes encontrar unas capturas del proyecto en Drive.</a
            >
          </li>
        </ul>
      </div>
    </ion-item>

    <ion-item>
      <div class="proyecto">
        <div class="left-side-exp">
          <ion-thumbnail slot="start">
            <ion-img
              src="https://femesport.es/wp-content/uploads/2018/10/001.png"
            ></ion-img>
          </ion-thumbnail>

          <h4>
            <b>Desarrollador APP con Angular | Typescript & Ionic (Prácticas)</b>
          </h4>
        </div>
        <p>Junio 2020 - Agosto 2020</p>
        <ul>
          <li>
            Desarrollo de APP para gimnasio desde cero para la gestión de
            clientes, bonos y horarios de clases dirigidas/compartidas.
          </li>
          <li>
            Chat dentro de la app, para comunicación entre monitores y clientes
          </li>
          <li>
            Angular Guards para permisos de carga, vista de ADMIN y ROOT para
            añadir clases, modificar bonos, etc.
          </li>
          <li>Diseño responsive con CSS y Ionic</li>
          <li>
            La gestión de datos, almacenamiento de archivos y autentificación de
            usuarios guardado en la nube con la base de datos Firebase.
          </li>
        </ul>
      </div>
    </ion-item>
  </ion-list>
</div>
