.desktop {
  --padding-start: 25%;
  --padding-end: 25%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  --color: white !important;
  --background: black !important;
}

.mobile {
  --color: white;
  --background: black;
}

a {
  text-decoration: none;
  color: white !important;

  ion-img {
    color: white !important;
  }
}


