<!-- Use this nav bar on desktop-->
<ng-template [ngIf]="desktop">
  <ion-toolbar class="desktop">
    <ion-buttons slot="start">
      <ion-button>
        <a href="#Proyectos">Sobre mi</a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <a href="mailto:tonimontalvapastor@icloud.com">Contacto</a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <a
          href="assets/CV_Antonio_Montalva_Pastor_Enero24.pdf"
          target="_blank"
          download="CV_Antonio_Montalva_Pastor_Enero24.pdf"
          >CV</a
        >
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a href="https://github.com/toniMontalva" target="_blank"
          ><ion-icon slot="icon-only" name="logo-github"></ion-icon
        ></a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a href="https://www.linkedin.com/in/amontalva" target="_blank"
          ><ion-icon slot="icon-only" name="logo-linkedin"></ion-icon
        ></a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-template>

<!--This template for mobile view-->
<ng-template [ngIf]="mobile">
  <ion-menu contentId="main-content">
    <ion-content class="ion-padding">
      <div class="btnWrapper">
        <ion-button expand="block" color="dark">
          <a href="#Proyectos">Sobre mi</a>
        </ion-button>
      </div>
      <div class="btnWrapper">
        <ion-button expand="block" color="dark">
          <a href="mailto:tonimontalvapastor@icloud.com">Contacto</a>
        </ion-button>
      </div>
      <div class="btnWrapper">
        <ion-button expand="block" color="dark">
          <a
            href="assets/CV_Antonio_Montalva_Pastor_Enero24.pdf"
            target="_blank"
            download="CV_Antonio_Montalva_Pastor_Enero24.pdf"
            >CV</a
          >
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-toolbar class="mobile" id="main-content">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a href="https://github.com/toniMontalva" target="_blank"
          ><ion-icon slot="icon-only" name="logo-github"></ion-icon
        ></a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a
          href="https://www.linkedin.com/in/antonio-montalv%C3%A1-pastor-75886b1a2/"
          target="_blank"
          ><ion-icon slot="icon-only" name="logo-linkedin"></ion-icon
        ></a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-template>
