* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.main {
  background-color: black;
  margin-top: 5vh;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
}

h2 {
  color: white;
}

.container {
  width: 100%;
}

.angular {
  width: 100%;
  background-color: #04AA6D;
  text-align: center;
}

.ionic {
  width: 100%;
  background-color: #281ead;
  color: white;
  text-align: center;
}

.css {
  width: 90%;
  background-color: #ac5814;
  text-align: center;
}

.html {
  width: 90%;
  background-color: #e6d70f;
  text-align: center;
}

.dotnet {
  width: 70%;
  background-color: #701ca1;
  text-align: center;
  color: white;
}

ion-item {
  text-align: center;
}
ion-item::part(native) {
  display: flex;
  flex-direction: column;
}

.barWrapper {
  width: 90%;
}
