<div class="main">
  <h2 class="ion-text-center">Skills técnicas</h2>
  <div class="wrapper">
    <ion-list>
      <ion-item *ngFor="let skill of skills; let i = index" (click)="openInfo(skill)">
        <ion-thumbnail slot="start">
          <ion-img [src]="skill.logo"></ion-img>
        </ion-thumbnail>
        <div class="barWrapper">
          <div [ngClass]="skill.keyname.toLowerCase()">{{ skill.expertise }}</div>
          <p><b>{{ skill.name }}: </b></p><p>{{ skill.description }}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</div>
