<ion-content>
  <app-toolbar></app-toolbar>
  <app-background></app-background>
  <ion-grid class="context">
    <ion-row class="ion-padding">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <h1 id="Sobre_Mi">Antonio Montalvá Pastor</h1>
        <div class="about-wrapper">
          <div class="about">
            <h2 style="font-size: 24px;"><b>Sobre mí</b></h2>
            <h2 style="font-size: 18px; font-style: italic; margin-bottom: 15px;">
              Soy Antonio Montalvá, y soy desarrollador. <br />
              Muchas veces me preguntan a qué me dedico, y no siempre tengo el tiempo suficiente para contarlo todo detalladamente, para la gente soy un informático. <br /> <br />
              Por eso he dedicado algo de mi tiempo libre a hacer mi propia página-porfolio, ya que me encanta la idea. <br /> <br />
              Tengo <b>experiencia fullstack</b> gracias a mis estudios, aunque mis proyectos y <b>experiencia laboral</b> son plénamente en el <b>frontend</b>. <br /> <br />
              He hecho varias <b>aplicaciones híbridas</b> pasando por temáticas fitness hasta trabajar en una startup de un ecommerce de alimentación.
              Todo ello con las tecnologías más punteras y actualizadas a su última versión. <br /> <br />

              Si tienes curiosidad sobre mis estudios y experiencias... <br /> <br />
              <b>¡Aquí abajo te lo cuento TODO!</b>
            </h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="Formacion">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-formacion></app-formacion>
      </ion-col>
    </ion-row>
    <ion-row id="Proyectos">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-proyectos></app-proyectos>
      </ion-col>
    </ion-row>
    <ion-row id="Skills">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-skills></app-skills>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer>
  <p>Página desarrollada con Angular e Ionic</p>
  <p>Email contacto: <a href="mailto:tonimontalvapastor@icloud.com">tonimontalvapastor@icloud.com</a></p>
  <p>Número de contacto: <a href="tel:672223198">+34 672223198</a></p>
</footer>
