<ion-content>
  <app-toolbar></app-toolbar>
  <app-background></app-background>
  <ion-grid class="context">
    <ion-row class="ion-padding">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <h1 id="Sobre_Mi">Antonio Montalvá Pastor</h1>
        <div class="about-wrapper">
          <div class="about">
            <h2 style="font-size: 24px;"><b>Sobre mí</b></h2>
            <h2 style="font-size: 18px; font-style: italic; margin-bottom: 15px;">
              Soy desarrollador con experiencia fullstack, <b>especializado en
              el frontend</b>. Terminé mis estudios CFGS
              en 2020 y a día de hoy sigo aprendiendo y formándome a través de cursos y proyectos personales.
              Soy exigente, trabajador y me manejo bien en cualquier ambiente de trabajo.
            </h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="Formacion">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-formacion></app-formacion>
      </ion-col>
    </ion-row>
    <ion-row id="Proyectos">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-proyectos></app-proyectos>
      </ion-col>
    </ion-row>
    <ion-row id="Skills">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-skills></app-skills>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer>
  <p>Página creada por mí utilizando las tecnologías Angular + TypeScript, Ionic, HTML5 y CSS3</p>
  <p>Email contacto: <a href="mailto:tonimontalvapastor@icloud.com">tonimontalvapastor@icloud.com</a></p>
  <p>Número de contacto: <a href="tel:672223198">+34 67 222 31 98</a></p>
</footer>
