<ion-content>
  <app-toolbar></app-toolbar>
  <app-background></app-background>
  <ion-grid class="context">
    <ion-row class="ion-padding">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <h1 id="Sobre_Mi">Antonio Montalvá Pastor</h1>
        <div class="about-wrapper">
          <div class="about">
            <h2 style="font-size: 24px;"><b>Sobre mí</b></h2>
            <h2 style="font-size: 18px; font-style: italic; padding: 0px 20px 20px ;">
              ¡Bienvenido/a! <br />
              Soy Antonio Montalvá, Desarrollador frontend versátil con experiencia creando, optimizando y haciendo testing de web apps. <br />

              Mis estudios son un FP Superior en DAM y un Curso de Especialización en Inteligencia Artificial y Big Data en Cidead.  <br /> <br />

              Siempre me ha fascinado el desarrollo frontend y estoy especializado en el desarrollo de aplicaciones híbridas o web apps con Angular e Ionic.
            </h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="Formacion">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-formacion></app-formacion>
      </ion-col>
    </ion-row>
    <ion-row id="Proyectos">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-proyectos></app-proyectos>
      </ion-col>
    </ion-row>
    <ion-row id="Skills">
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <app-skills></app-skills>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer>
  <p>Página desarrollada con Angular e Ionic</p>
  <p>Email contacto: <a href="mailto:tonimontalvapastor@icloud.com">tonimontalvapastor@icloud.com</a></p>
  <p>Número de contacto: <a href="tel:672223198">+34 672223198</a></p>
</footer>
